mixin navItemFooter(url, name, current)
    li.footer-menu__item(class={active: current})
        a.footer-menu__link(href=url)= name

mixin svg(url, class_name, name)
    li.social__items
        a(href=url class=`social__link`)
            svg(class=class_name)
                use(xlink:href=name)