mixin navItemFooter(url, name)
    li.footer-menu__item
        a.footer-menu__link(href=url)= name

mixin svg(url, class_name, name)
    li.social__items
        a(href=url class=`social__link`)
            svg(class=class_name)
                use(xlink:href=name)

mixin navMenu(url, name)
    li.naligate__item
        a.naligate__link(href=url)= name