extends ../template

block variables
  - var title = 'Добро пожаловать'
  - var navList = [{url:'/build/my-works.html',name:'Мои работы'},{ url:'/build/about.html',name:'Обо мне'},{ url:'/build/my-blog.html',name:'Блог'}]
  - var menu = 'navigate'
block content

  header.header-login
    .header-login__btn
      a(href='/user.html', class='btn-link btn-link_opacity') Авторизоваться
  main.main
    .main-center
      .main-center__content
        .user.main__user
          .user__block-images
              img(src="./assets/img/logo.jpg", alt="logo").user__image
          .user__description
            .user__name Евгений Кочешков
            .user__info Личный сайт веб разработчика
        ul.social.main-social
          each i in social
              +svg(i.url, i.class_name, i.name)
      .main-center__footer
        nav.navigate
          +navMenu(menu, navList)
  footer.footer
    .footer__bottom.footer__bottom_opacity 
      .footer__bottom-copyright © Евгений Кочешков | Создано с любовью в LoftSchool | 2017